<form id="registerForm">
    <div class="form-group">
        <label for="isim">İsim:</label>
        <input type="text" class="form-control" id="isim" placeholder="İsim girin" name="isim" required>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Email girin" name="email" required>
    </div>
    <div class="form-group">
        <label for="sifre">Şifre:</label>
        <input type="password" class="form-control" id="sifre" placeholder="Şifre girin" name="sifre" required>
    </div>
    <div class="form-group">
        <label for="rol">Rol:</label>
        <input type="text" class="form-control" id="rol" placeholder="Rol girin" name="rol" required>
    </div>
    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
</form>
